// navigation
header {
    position: relative;
    background: $white;
    box-shadow: 0 0 5px 0 rgba($dark, 0.5);
    z-index: 10;

    h3 {
        display: inline-block;
    }

    ul {
        float: right;
        text-align: right;

        li {
            margin-top: 2px;
            margin-left: 6px;

            a {
                display: block;
                padding: 5px;
            }
        }
    }

    @media screen and (max-width: 742px) {
        h3 {
            display: block;
            text-align: center;
        }

        ul {
            float: none;
            text-align: center;
        }
    }
}

// login
#login {
    background: linear-gradient(
        to right,
        $primary 0%,
        $primary 50%,
        $white 50%,
        $white 100%
    );

    @media screen and (max-width: 742px) {
        height: 100vh;
        background: $white;
    }

    .col1,
    .col2 {
        height: 100vh;
        padding-top: 30vh;
        @media screen and (max-width: 742px) {
            height: auto;
            padding-top: 20vh;
        }
    }

    .col1 {
        color: $white;
        @media screen and (max-width: 742px) {
            display: none;
        }

        p {
            max-width: 490px;
            margin-top: 1.3rem;
            line-height: 1.8;
        }

        a {
            color: $white;
            text-decoration: underline;
        }

        li {
            margin-bottom: 0.8rem;
            width: 35rem;
            word-break: break-all;
            font-weight: 600;

            &:last-child {
                margin-bottom: 2rem;
            }

            @media screen and (max-width: 1000px) {
                width: 20rem;
            }
        }

        @mixin random-border-color() {
            border: 2.5px rgb(random(255), random(190), random(200));
            border-radius: 8px;
            border-style: dashed;
        }

        .constructingTag {
            $num-constructing-tag: 7;
            a {
                color: $white;
                padding: 3px;
                margin-right: 2px;
                text-decoration: none;
                cursor: context-menu;

                @for $i from 0 to $num-constructing-tag {
                    &:nth-child(#{$i}) {
                        @include random-border-color();
                    }
                }

                @media screen and (max-width: 1200px) {
                    display: inline-flex;
                }
            }
        }
    }

    .signup-form {
        padding-top: 20vh;
        @media screen and (max-width: 742px) {
            padding-top: 10vh;
        }
    }

    .col2 {
        h1 {
            margin-bottom: 2rem;
        }

        form {
            max-width: 450px;
            margin: 0 auto;
        }

        .extras {
            float: right;
            text-align: right;

            a {
                display: block;
                margin-bottom: 0.5rem;
            }
        }

        .password-reset {
            h1 {
                margin-bottom: 1rem;
            }

            p {
                margin-bottom: 2rem;
            }
        }
    }
}

// password reset
.modal {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(#333, 0.5);

    .modal-content {
        position: relative;
        margin: auto;
        width: 100%;
        max-width: 400px;
        background: #fff;
        padding: 40px;
        border-radius: 5px;
        box-shadow: 0 0 5px 0 rgba(#333, 0.5);
        z-index: 999;

        .close {
            position: absolute;
            top: 10px;
            right: 10px;
            padding: 5px;
            cursor: pointer;
            transition: 0.15s;

            &:hover {
                color: #000;
            }
        }

        h3 {
            margin: 0;
        }

        p {
            margin: 15px 0;
        }

        .error {
            color: tomato;
            font-size: 12px;
        }

        .button {
            width: 100%;
        }
    }
}

// dashboard
#dashboard {
    section {
        padding: 2rem 0;

        @media screen and (max-width: 742px) {
            margin: 1.15rem;
        }
    }

    .col1 {
        padding: 1.5rem;
        flex: 0 0 30%;

        @media screen and (max-width: 1000px) {
            flex: 0 0 40%;
        }
    }

    .col2 {
        padding-top: 0;

        @media screen and (max-width: 742px) {
            padding-top: 1.5rem;
        }

        input {
            margin-right: 0.8rem;
        }
    }

    .profile {
        background: $white;
        padding: 2rem;

        p {
            color: $medium;
            margin-bottom: 1rem;
        }
    }

    .create-todo {
        p {
            margin-bottom: 0.5rem;
            text-align: center;
            padding: 0.8rem 0rem;
        }

        textarea {
            height: 20rem;
            margin: 0;
        }

        .button {
            margin-top: 1rem;
            width: 100%;
            z-index: 5;
            border-radius: 0 0 3px 3px;
        }
    }

    .todo {
        border: 1px solid #e6ecf0;
        border-bottom: 0;
        font-size: 14px;
        padding: 0.8rem;
        margin-bottom: 0.3rem;
        background: $white;

        &:hover {
            background: #f5f8fa;
        }

        &:last-of-type {
            border-bottom: 1px solid $light;
        }

        h5 {
            margin: 0 0 0.5rem;
        }

        span {
            display: block;
            font-style: italic;
            font-size: 12px;
            margin-bottom: 0.5rem;
            color: darken($light, 25%);
        }

        p {
            margin: 0;
        }

        ul {
            list-style: none;
            margin: 1rem 0 0;
            padding: 0;

            li {
                display: inline-block;
                margin-right: 1rem;
                font-size: 12px;
                .hideTodo {
                    color: grayscale($color: #a1b1b4);
                }
                .deleteTodo {
                    color: hotpink;
                }
            }
        }
    }

    .no-results {
        border: 1px solid #e6ecf0;
        background: $white;
        text-align: center;
        padding: 100px 1rem;
    }
}