// navigation
header {
    position: relative;
    background: $white;
    box-shadow: 0 0 5px 0 rgba($dark, 0.5);
    z-index: 10;

    h3 {
        display: inline-block;
    }

    ul {
        float: right;
        text-align: right;

        li {
            margin-top: 2px;
            margin-left: 6px;

            a {
                display: block;
                padding: 5px;
            }
        }
    }

    @media screen and (max-width: 742px) {
        h3 {
            display: block;
            text-align: center;
        }

        ul {
            float: none;
            text-align: center;
        }
    }
}